<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar</title>
    <link rel="icon" type="image/png" href="resources/logo.png">
    <script src="https://kit.fontawesome.com/9584a3d4cd.js" crossorigin="anonymous"></script>

	<!-- links para exportar a excel -->
    <script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

  </head>
  <body> <input id="checkbox" type="checkbox">
    <header class="cabecera">
      <h2>ITCG - <b> Departamento Actividades Extraescolares </b> <label for="checkbox">
          <i id="btn" class="fa-solid fa-bars"></i> </label> </h2>
      <label> <i id="navbtn" class="fa-solid fa-bars"></i> </label> </header>
    <div id="body" class="body">
      <nav id="menu" d="" class="menu active">
        <div class="user-p"> <img src="itcg.jpg">
          <h3>Mi nombre</h3>
        </div>
        <ul>
			<li> <a href="/inicio"> <i class="fa-solid fa-desktop"></i> <span>Inicio</span>
            </a> </li>
			<li> <a href="/registraAlumno"> <i class="fa-regular fa-clipboard"></i> <span>Alumnos</span>
            </a> </li>
			<li> <a href="/listaPromotores"> <i class="fa-solid fa-volleyball"></i> <span>Actividades</span>
            </a> </li>
			<li> <a href=""> <i class="fa-regular fa-clipboard"></i> <span>Avisos</span>
            </a> </li>
			<li> <a href=""> <i class="fa-solid fa-gear"></i> <span>Configuración</span>
            </a> </li>
          <li> <a href=""> <i class="fa-solid fa-power-off"></i> <span>Sesión</span>
            </a> </li>
        </ul>
      </nav>
      <div id="ventana" class="ventana">
        
            <section class="container">
              <header>Ingrese los datos del promotor</header>
              <form action="guardaPromotor" method="POST"  class="form">
                <div class="input-box">
                  <label>Nombre de promotor</label>
                  <input id="nombre" name="nombre" type="text" value="" required/>
                </div>
                
                
                <div class="column">
                    <div class="input-box">
                      <label>Apellido Paterno</label>
                      <input type="text" id="paterno" name="paterno" required />
                    </div>
                    <div class="input-box">
                      <label>Apellido Materno</label>
                      <input type="text" id="materno" name="materno" required />
                    </div>
                </div>
        
                
                  
				  <div class="column">
                    <div class="input-box">
						<label>Defina un número de actividad(con el fin de identificar y evitar duplicados):</label>
						<input type="text" id="idActividad" name="idActividad"  required />
					  </div>
                    <div class="input-box">
                      <label>Tipo de actividad(Civica, Culturar o Deportiva):</label>
                      <input type="text" id="tipoActividad" name="tipoActividad" required />
                    </div>
                </div>

                  <div class="input-box">
                    <label>Actividad</label>
                    <input type="text" id="actividad" name="actividad" required />
                  </div>

				  <div class="input-box">
                    <label>Número de telefono</label>
                    <input type="text" id="telefono" name="telefono" required />
                  </div>
                
				  <div class="column">
                    <div class="input-box">
                      <label>Horario(Días y horas): </label>
                      <input type="text" id="horario" name="horario" required />
                    </div>
                    <div class="input-box">
                      <label>Lugar donde se imparte la actividad: </label>
                      <input type="text" id="lugar" name="lugar" required />
                    </div>
                </div>
                
                
                
                <button>Registrar</button>
              </form>
            </section>
            
      
      </div>
    </div>
    <style type="text/css">
	

	h2{
		font-size: 14px;
	}

	
	@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

	.titulo-tabla{
		color: white;
		font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	}

	/*Aquí van los estilos para la tabla */

	body{
		min-height: 100vh;
	}

	main.table{
		top: 60px;
		left: 20px;
		position: relative;
		width: 92vw;
		height: 90vh;
		background-color: #fff5;
		backdrop-filter: blur(7px);
		box-shadow: 0 .4rem .8rem #0005;
		border-radius: .8rem;
		overflow: hidden;

	}

	.table__header{

		width: 100%;
		height: 10%;
		background-color: #fff4;
		padding: .8rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.table__header .input-group{
		width: 35%;
		height: 100%;
		background-color: #fff5;
		padding: 0 .8rem;
		border-radius: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;

		transition: .2s;

	}

	.table__header .input-group:hover{
		width: 45%;
		background-color: #fff8;
		box-shadow: 0 .1rem .4rem #0002;

	}

	.table__header .input-group i{
		width: 1.2rem;
		height: 1.2rem;
	}

	.table__header .input-group input{
		width: 100%;
		padding: 0 .5rem 0 .3rem;
		background-color: transparent;
		border: none;
		outline: none;
	}

	.table__body{
		width: 95%;
		max-height: 100%;
		background-color: #fffb;
		margin: .8rem auto;
		border-radius: .6rem;
		overflow: auto;
		
	}


.table__body::-webkit-scrollbar{
		width: 0.5rem;
		height: 0.5rem;
	}

	.table__body::-webkit-scrollbar-thumb{
		border-radius: .5rem;
		background-color: #0004;
		visibility: hidden;
	}

	.table__body:hover::-webkit-scrollbar-thumb{
		visibility: visible;
	}

	table{
		width: 100%;
	}

	td img{
		width: 36px;
		height: 36px;
		border-radius: 50%;
		margin-right: .5rem;
		vertical-align: middle;
	}

	table, th, td{
		border-collapse: collapse;
		padding: 1rem;
		text-align: left;
	}

	thead th{
		position: sticky;
		top: 0;
		left: 0;
		background-color: #d5d1defe;
		cursor: pointer;
		text-transform: capitalize;
	}

	tbody tr:nth-child(even){
		background-color: #0000000b;
	}

	tbody tr{
		--delay: .1s;
		transition: .5s ease-in-out var(--delay), background-color 0s;
	}

	tbody tr.hide{
		opacity: 0;
		transform: translateX(100%);
	}

	tbody tr:hover{
		background-color: #fff !important;
	}

	tbody tr td,
	 tbody tr td p, 
	 tbody tr td img{
		transition: .2s ease-in-out;
	}

	tbody tr.hide td, tbody tr.hide td p{
		padding: 0;
		font: 0 / 0 sans-serif;
		transition: .2s ease-in-out .5s;
	}

	tbody tr.hide td img{
		width: 0;
		height: 0;
		transition: .2s ease-in-out .5s;
	}

	.status{
		padding: .4rem 0;
		border-radius: 2rem;
		text-align: center;
	}

	.status.delivered{
		background-color: #86e49d;
		color: #006b21;
	}

	.status.cancelled{
		background-color: #d893a3;
		color: #b30021;
	}

	.status.pending{
		background-color: #ebc474;
	}

	.status.shipped{
		background-color: #6fcaea;
	}

	/* Estilos Flechas */
	thead th span.icon-arrow{
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		border-radius: 50%;
		border: 1.4px solid transparent;

		text-align: center;
		font-size: 1rem;

		margin-left: .5rem;
		transition: .2s ease-in-out;

	}


	thead th:hover span.icon-arrow{
		border: 1.4px solid #6c00bd;
	}

	thead th:hover{
		color: #6c00bd;
	}

	thead th.active span.icon-arrow{
		background-color: #6c00bd;
		color: #fff;
	}

	thead th.asc span.icon-arrow{
		transform: rotate(180deg);
	}

	thead th.active, tbody td.active{
		color: #6c00bd;
	}

	/* Estilos boton de Export */
	.export__file{
		position: relative;
	}

	.export__file .export__file-btn{
		display: inline-block;
		width: 2rem;
		height: 2rem;
		background: #fff6 url('images/export.png') center/80% no-repeat;
		border-radius: 50%;
		transition: .2s ease-in-out;
	}

	.export__file .export__file-btn:hover{
		background-color: #fff;
		cursor: pointer;
		transform: scale(1.15);
	}

	.export__file input{
		display: none;
	}

	.export__file .export__file-options{
		
		display: none;
		right: 0;

		width: 12rem;
		border-radius: .5rem;
		overflow: hidden;
		text-align: center;

		opacity: 0;
		transform: scale(.8);
		transform-origin: top right;
		box-shadow: 0 .2rem .5rem #0004;
		transition: .2s;

	}

	.export__file input:checked + .export__file-options{
		opacity: 1;
		display: inline-block;
		position: absolute;
		transform: scale(1);
		z-index: 100;
	}


	.export__file .export__file-options label{
		display: block;
		width: 100%;
		padding: .6rem 0;
		background-color: #f2f2f2;

		justify-content: space-around;
		align-items: center;

		transition: .2s ease-in-out;

	}

	.export__file .export__file-options label:first-of-type{
		padding: 1rem;
		background-color: #86e49d !important;
	}

	.export__file .export__file-options label:hover{
		transform: scale(1.05);
		background-color: #fff;
		cursor: pointer;
	}

	.export__file .export__file-options img{
		width: 2rem;
		height: auto;
	}

	
	.cabecera b{
		color: #127b8e;
	}

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.body .menu .user-p{
		padding-top: 20px;
		padding-left: 20px;
		text-align: center;
		margin-bottom: 20px;
	}

	.body .menu .user-p h3{
		font-size: 18px;
		color: white;
	}

	.body .menu .user-p img{
		width: 100px;
		border-radius: 25%;
		margin-bottom: 10px;
	}

	.ventana{
		/* background: url('https://www.xtrafondos.com/wallpapers/montanas-en-el-bosque-11688.jpg'); */
		background: url('https://www.xtrafondos.com/wallpapers/arbol-de-navidad-en-alaska-11397.jpg') center/cover;
		width: 100%;
		min-height: 100vh;
		display: flex;
			

	}

	

	#checkbox{
		display: none;
	}

	#btn{
		display: none;
	}



	.cabecera{
		display: flex;
		position: fixed;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		color: white;
		background: black;
		padding: 15px 30px;
		z-index: 999;

	}

	.menu{
		width: 200px;
		min-height: 100vh;
		transition: 500ms width;
		background: #121017;
		position: absolute;
		box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
		visibility: hidden;
		z-index: 1000;
	}

	.body .menu ul{
		list-style: none;

	}

	.body .menu ul li{
		padding: 15px 0;
		font-size: 16px;
		transition: 500ms background;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.body .menu ul li a{
		text-decoration: none;
		color: #fff;
		padding-left: 15px;
		cursor: pointer;
	}

	.body .menu ul li a i{
		margin-right: 10px;
	}

	.body .menu ul li a span{
		letter-spacing: 1px;
		
	}

	.body .menu ul li:hover{
		background: #5BA2EA;
	}

	

	#navbtn{
		cursor: pointer;
		font-size: 23px;
	}

	.active{
		transform: translate(-400px);

	}

	.mostrar{
		visibility: visible;
	}

	


	@media (min-width: 1024px) {
        

		#navbtn{
			display: none;
		}

		.body{
			display: flex;
		}

		.cabecera{
			position: relative;
		}

		.active{
			transform: translate(0);
		}

		.menu{
			position: relative;
			box-shadow: none;
			visibility: visible;
		}

		#btn{
		display: inline-block;
		color: white;
		font-size: 23px;
		cursor: pointer;
		margin-left: 20px;
	}

	#btn:hover{
		color: #3B68EA;
	}

	#checkbox:checked ~ .body .menu{
		width: 65px;
	}

	#checkbox:checked ~ .body .menu ul li a span{
		display: none;
	}

	#checkbox:checked ~ .body .user-p{
		visibility: hidden;
	}


	}



	


/* CSS */
.button-editar {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-editar:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-editar {
    padding: 10px 30px;
  }
}




/* CSS */
.button-eliminar {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-eliminar:hover,
.button-eliminar:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:eliminar {
  opacity: .5;
}


/*Estilos formulario*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}



</style>
<script type="text/javascript">

function confirmacion(){
		var respuesta = confirm("¿Desea eliminar el registro?");
		if(respuesta === true){
			return true;
		}else{
			return false;
		}
}


	
	const icono = document.querySelector("#navbtn");
	menu = document.querySelector("#menu");
	

	icono.addEventListener("click", (e) => {

		menu.classList.toggle("active");
		menu.classList.toggle("mostrar");
		
	});


const search = document.querySelector('.input-group input'),
    table_rows = document.querySelectorAll('tbody tr'),
    table_headings = document.querySelectorAll('thead th');

// 1. Searching for specific data of HTML table
search.addEventListener('input', searchTable);

function searchTable() {
    table_rows.forEach((row, i) => {
        let table_data = row.textContent.toLowerCase(),
            search_data = search.value.toLowerCase();

        row.classList.toggle('hide', table_data.indexOf(search_data) < 0);
        row.style.setProperty('--delay', i / 25 + 's');
    })

    document.querySelectorAll('tbody tr:not(.hide)').forEach((visible_row, i) => {
        visible_row.style.backgroundColor = (i % 2 == 0) ? 'transparent' : '#0000000b';
    });
}






</script>


<!-- script para exportar a excel -->
<script>
    const $btnExportar = document.querySelector("#btnExportar"),
        $tabla = document.querySelector("#tabla");

    $btnExportar.addEventListener("click", function() {
        let tableExport = new TableExport($tabla, {
            exportButtons: false, // No queremos botones
            filename: "Reporte de prueba", //Nombre del archivo de Excel
            sheetname: "Reporte de prueba", //Título de la hoja
        });
        let datos = tableExport.getExportData();
        let preferenciasDocumento = datos.tabla.xlsx;
        tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.all.min.js"></script>

<% if(typeof(alert) != "undefined") {%>
	<script>
		Swal.fire({
			title: "<%= alertTitle %>",
			text: "<%= alertMessage %>",
			icon: "<%= alertIcon %>",
			showConfirmButton: <%= showConfirmButton %>,
			timer: <%= timer %>
		}).then( () => {
			window.location="/<%= ruta %>"
		})
	</script>
 
	<% }else{
		console.log("Sin datos de variable")
	} %>

  </body>
</html>





